[Desktop Entry]
Name=Yudit
Comment=The Yudit Unicode editor
Comment[pl]=Edytor tekstu używający Unicode
Icon=yudit.png
Exec=yudit
Type=Application
Encoding=UTF-8
Categories=Office;WordProcessor;
# vi: encoding=utf-8
